[build]
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app"
  status = 200

# Include all files in all functions
[functions]
  included_files = ["data.csv", "small_pixel.png", "base/**"]
